[submodule "containers/ken-opentts-server/opentts"]
	path = xim/opentts/opentts
	url = https://github.com/kenplusplus/opentts.git
[submodule "containers/ken-whisper-server/whisper"]
	path = xim/whisper/whisper
	url = https://github.com/kenplusplus/whisper.git
[submodule "containers/ken-whisperx-server/whisperx"]
	path = xim/whisperx/whisperx
	url = https://github.com/kenplusplus/whisperX.git
[submodule "containers/openvoice-server/OpenVoice"]
	path = xim/openvoice/OpenVoice
	url = https://github.com/kenplusplus/OpenVoice.git
[submodule "containers/fastchat-server/fastchat"]
	path = xim/fastchat/fastchat
	url = https://github.com/kenplusplus/FastChat.git
[submodule "containers/faster-whisper-server/faster-whisper"]
	path = xim/faster-whisper/faster-whisper
	url = https://github.com/lewangdev/faster-whisper
[submodule "externals/opea/GenAIExamples"]
	path = externals/opea/GenAIExamples
	url = https://github.com/opea-project/GenAIExamples
[submodule "xim/meeting-summary"]
	path = xim/meeting-summary
	url = https://github.com/kenplusplus/meeting-summary-server
[submodule "externals/opea/GenAIComps"]
	path = externals/opea/GenAIComps
	url = https://github.com/opea-project/GenAIComps.git
[submodule "externals/opea/GenAIInfra"]
	path = externals/opea/GenAIInfra
	url = https://github.com/opea-project/GenAIInfra.git
[submodule "externals/opea/GenAIEval"]
	path = externals/opea/GenAIEval
	url = https://github.com/opea-project/GenAIEval.git
