[submodule "containers/ken-opentts-server/opentts"]
	path = xim/opentts-server/opentts
	url = https://github.com/kenplusplus/opentts.git
[submodule "containers/ken-whisper-server/whisper"]
	path = xim/whisper-server/whisper
	url = https://github.com/kenplusplus/whisper.git
[submodule "containers/ken-whisperx-server/whisperx"]
	path = xim/whisperx-server/whisperx
	url = https://github.com/kenplusplus/whisperX.git
[submodule "containers/openvoice-server/OpenVoice"]
	path = xim/openvoice-server/OpenVoice
	url = https://github.com/kenplusplus/OpenVoice.git
[submodule "containers/fastchat-server/fastchat"]
	path = xim/fastchat-server/fastchat
	url = https://github.com/kenplusplus/FastChat.git
[submodule "containers/faster-whisper-server/faster-whisper"]
	path = xim/faster-whisper-server/faster-whisper
	url = https://github.com/lewangdev/faster-whisper
