[submodule "containers/ken-opentts-server/opentts"]
	path = containers/ken-opentts-server/opentts
	url = https://github.com/kenplusplus/opentts.git
[submodule "containers/ken-whisper-server/whisper"]
	path = containers/ken-whisper-server/whisper
	url = https://github.com/kenplusplus/whisper.git
[submodule "containers/ken-whisperx-server/whisperx"]
	path = containers/ken-whisperx-server/whisperx
	url = https://github.com/kenplusplus/whisperX.git
